body{
    font-style:initial;
    margin: 10px;
    background-image: url(https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8Y2luZW1hfGVufDB8fDB8fHww);
    background-size: cover;
    background-attachment: fixed;
    background-repeat:no-repeat;
    color: white;
    padding: 20px;
}

.barraNavegador {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #612525;
    color: white;
}

.logoNav {
    display: flex;
    align-items: center;
}

#icono {
    width: 120px;
    height: auto;
    margin-right: 10px;
    transition: transform 0.3s ease;
}

#icono:hover {
    transform: scale(1.1);
}

.logoNav h1 {
    font-size: 18px;
    margin: 0;
    color: white;
    font-weight: bold;
    font-size: 20px;
    font-family: Arial, sans-serif;
    text-transform: uppercase;
    text-align: center;
    text-decoration:dashed 3px darkorange;
    text-decoration-line:line-through;
}

.homeLink {
    text-decoration: none;
    color: white; 
    font-size: 20px;
    margin: 4px;
    border: 2px dashed darkorange;
    padding: 8px 15px;
    margin: 5px;
    border-radius: 8px;
    background-color: black;
    font-weight: bold;
    
}

.homeLink:hover {
    color: #007bff;
}

h2{
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Arial, sans-serif;
    text-align: center;
    text-decoration:dashed 1px darkorange;
    text-decoration-line:line-through;
}

p{
    font-size: 18px;
    text-align: justify;
    line-height: 25px;
    font-style: initial;
    font-family: Arial, sans-serif;
    text-justify: inter-word;
    margin: 0 auto;
    padding: 10px;
    box-sizing: border-box; 
    width: 80%;
    max-width: 800px;
}

img{
    display: block;
    margin-left: auto;
    margin-right: 30px;
    border-radius: 10px;
    width: 40%;
    height: 60%;

}

.con_peliculas {
    padding: 20px;
    text-align: center;
}

.con_peliculas h2 {
    font-size: 28px;
    margin: 0;
}

.menu ul {
    display: flex;
    list-style:none;
    padding: 0;
    margin: 0;

}

.menu li {
    margin-right: 30px;
    
}

.menu li:last-child {
    margin-right: 0;
}

.menu a {
    text-decoration:double;
    color: white;
    font-size: 18px;
    display: inline-block;
    border: 2px dashed darkorange;
    padding: 8px 15px;
    margin: 2px;
    border-radius: 8px;
    background-color: black;
    font-weight: bold;
}

.menu a:hover {
    color: #007bff;
}

#tarjetas {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 0fr));
    justify-content: center;
    gap: 140px;
    padding: 15px;
    background-color: transparent;

}

.card {
    background-color: rgb(19, 17, 17);
    border-radius: 8px;
    box-shadow: 0 4px 8px white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin: 10px auto;
}

.card-title {
    font-size: 20px;
    margin: 10px;
    color: white;
    text-align: center;
}

.card-image {
    width: 80%;
    height: auto;
    display: block;
    margin: 10px auto; 
}

.card-text {
    font-size: 15px;
    margin: 10px;
    color: whitesmoke;
    text-align: center;
}

.card-button {
    display: inline-block;
    padding: 8px 16px;
    background-color: rgb(107, 19, 19);
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding: 10px;
    font-size: small;
}

.card-button:hover {
    background-color: #863434;
}

.card-button:active {
    background-color: #863434;
}


@media (max-width: 600px) {
    #tarjetas {
        grid-template-columns: 0fr;
    }
}

.custom-btn {
    padding: 5px 10px;
    font-size: 12px;
    width: 100px;
}

.carousel-item img {
    max-width: 75%; 
    height: auto; 
    margin: 0 auto;
}

